* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #efa7a7;
    font-family: "Raleway", sans-serif;
    color: #293948;
}
.header {
    font-size: 2em;
    text-align: center;
    width: 100%;
}
.top-section {
    display: flex;
    justify-content: space-around;
}
.rules {
    border: 5px solid navy;
    padding: 30px 10px 30px 30px;
    margin: 5px;
    background-color: silver;
    border-radius: 5%;
    min-width: 250px;
}
.rules li{
    list-style:upper-roman;
    padding: 5px 0;
    color: navy
}
.rules h3 {
    text-align: center;
    line-height: 1.5;
    font-size: 26px;
    text-decoration: underline;
    padding-bottom: .5em;
}
.rules p {
    padding-top: 10px;
    text-decoration: underline;
}
.scoreboard {
    text-align: center;
    font-size: 2em;
    border: 5px solid navy;
    padding: 20px;
    margin: 5px;
    background-color: silver;
    border-radius: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    min-width: 280px;
}
.scoreboard div {
    color: navy;
    line-height: 1.6;
}
.results-section {
    min-width: 300px;
    text-align: center;
    font-size: 1em;
    border: 5px solid navy;
    padding: 30px 10px;
    margin: 5px;
    background-color: silver;
    border-radius: 5%;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.results-section > h2 {
    color: navy
}
#selections {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}
.selection {
    transition: 100ms;
    background-color: lightgray;
    border-radius: 5%;
    padding: 5px;
    width: 200px;
    height: 100px;
    font-size: 2em;
}
.selection:hover {
    transform: scale(1.3);
}
footer {
    text-align: center;
    letter-spacing: 2px;
    background-color: navy;
    color: lightgrey;
    padding: 20px 0;
    margin-top: 20px;
}

/* Media Queries Start Here */
@media screen and (max-width: 950px) {
    .top-section {
        flex-wrap: wrap;
    }
    .rules {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #selections {
        display: flex;
        flex-wrap: wrap;
    }
    .selection {
        width: 300px;
    }
}

@media only screen and (max-width: 600px) {
    .top-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}