* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #efa7a7;
    font-family: "Raleway", sans-serif;
    color: #293948;
}
.header {
    font-size: 2em;
    text-align: center;
    width: 100%;
}
.top-section {
    display: flex;
    justify-content: space-around;
}
.scoreboard {
    text-align: center;
}
.results-section {
    width: 320px;
    background-color: aliceblue;
}
#selections {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}
.selection {
    transition: 100ms;
    background-color: lightgray;
    border-radius: 5%;
    padding: 5px;
    width: 200px;
    height: 100px;
    font-size: 2em;
}
.selection:hover {
    transform: scale(1.3);
}